TestTask

**** Calculate metrics from the given dataset

1) Revenue Contribution 

2) Total Orders 

3) Average 12 Month Contribution 

4) Average 12 Month Orders

5) Average Order Value 

6) Last 12 Month Contribution 

7) Last 12 Month Orders

8) Last Order Value 

9) % of Customers that has more value

10) % of Orders generated by client

11) % of Revenue generated by client

12) Time since last order in days


**** Create clients clusters (Best, Good, and Low) by metrics and Customer Type by Industry

In [1]:
# test start time 18:00 (GMT+3:00) 7/06/2021
# test end time 21:00 (GMT+3:00) 7/06/2021
# test start time 8:30 (GMT+3:00) 8/06/2021
# test end time 10:40 (GMT+3:00) 8/06/2021

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, date, time

In [3]:
df = pd.read_excel(r'Sample Line Items.xlsx')

In [4]:
# test df state
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14697 entries, 0 to 14696
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Internal ID                14697 non-null  int64
 1   *                          14697 non-null  object
 2   Date                       14697 non-null  datetime64[ns]
 3   Document Number            14697 non-null  object
 4   Company Name               14697 non-null  object
 5   Contact Name               14697 non-null  object
 6   Account                    14697 non-null  object
 7   Item                       14697 non-null  object
 8   Memo                       14665 non-null  object
 9   Amount                     14697 non-null  float64
 10  Sales Rep                  14697 non-null  object
 11  Class                      14697 non-null  object
 12  Location                   14697 non-null  object
 13  Customer Type by Industry  14697 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(11)
memory usage: 1.6+ MB

In [5]:
df.shape

(14697, 14)

In [6]:
df.columns

Index(['Internal ID', '*', 'Date', 'Document Number', 'Company Name',
       'Contact Name', 'Account', 'Item', 'Memo', 'Amount', 'Sales Rep',
       'Class', 'Location', 'Customer Type by Industry'],
      dtype='object')

In [7]:
df.head(5)

,Internal ID,*,Date,Document Number,Company Name,Contact Name,Account,Item,Memo,Amount,Sales Rep,Class,Location,Customer Type by Industry
0,693551,,2021-01-04,TJAN210001,"Reynolds Parrino Shadwick, P.A.",Britney Mangum-Cabrera,40100 Sales-Legal Paper,"Blowback : Blowback B&W - 8.5""x11""","B&W Images Printed from File 8.5""x11""",101.88,Michael DeLessio,Paper,Tampa,Legal
1,693551,,2021-01-04,TJAN210001,"Reynolds Parrino Shadwick, P.A.",Britney Mangum-Cabrera,40100 Sales-Legal Paper,"Blowback : Blowback Color - 8.5""x11""","Color Images Printed from File 8.5""x11""",95.95,Michael DeLessio,Paper,Tampa,Legal
2,693552,,2021-01-04,TJAN210002,"Reynolds Parrino Shadwick, P.A.",Laura Craig,40100 Sales-Legal Paper,"Blowback : Blowback B&W - 8.5""x11""","B&W Images Printed from File 8.5""x11""",183.50,Michael DeLessio,Paper,Tampa,Legal
3,693894,,2021-01-04,RJAN210001,BVR Construction,Garland Beasley,40125 Sales-AEC Printing/Scanning,AEC Printing/Copying : Oversize Color (AEC) - ...,14 Oversize Color Line Drawings Copy/Print X ...,126.00,Rochester House,Paper,Rochester,AEC
4,693899,,2021-01-04,TJAN210003,Prugh & Associates,Sarah Wadsworth,40100 Sales-Legal Paper,"Blowback : Blowback Color - 8.5""x11""","Color Images Printed from File 8.5""x11""",10.00,Michael DeLessio,Paper,Tampa,Legal

----

### 1) Revenue Contribution

### 2) Total Orders

In [8]:
#1) Revenue Contribution
print('Revenue Contribution -', df['Amount'].sum())

#2) Total Orders 
print('Total orders (unique funds transfer) -', df.shape[0])

Revenue Contribution - 5128193.74
Total orders (unique funds transfer) - 14697

In [9]:
# hypothesis test: one order/document (Document Number) - several services/products, several payments ('Amount') 
df[df['Document Number'].str.match('TJAN210001')] # for example

,Internal ID,*,Date,Document Number,Company Name,Contact Name,Account,Item,Memo,Amount,Sales Rep,Class,Location,Customer Type by Industry
0,693551,,2021-01-04,TJAN210001,"Reynolds Parrino Shadwick, P.A.",Britney Mangum-Cabrera,40100 Sales-Legal Paper,"Blowback : Blowback B&W - 8.5""x11""","B&W Images Printed from File 8.5""x11""",101.88,Michael DeLessio,Paper,Tampa,Legal
1,693551,,2021-01-04,TJAN210001,"Reynolds Parrino Shadwick, P.A.",Britney Mangum-Cabrera,40100 Sales-Legal Paper,"Blowback : Blowback Color - 8.5""x11""","Color Images Printed from File 8.5""x11""",95.95,Michael DeLessio,Paper,Tampa,Legal

In [10]:
#2b) Total Orders 
print('Total orders (by unique document numbers) -', df.groupby(['Document Number']).sum().reset_index().shape[0])

Total orders (by unique document numbers) - 7953

----

##### 3) Average 12 Month Contribution
##### 4) Average 12 Month Orders
##### 6) Last 12 Month Contribution
##### 7) Last 12 Month Orders

In [11]:
# check date range 
print(df['Date'].min())
print(df['Date'].max())

2021-01-04 00:00:00
2021-04-30 00:00:00

In [12]:
# As we seen we dont have 12 month period for calculating such metrics.
df_12=df.groupby(pd.Grouper(key='Date', freq='M'))['Amount'].agg({'count', 'sum'})
df_12.index=df_12.index.strftime("%B")
df_12.rename(columns={'sum':'Total Contribution', 'count':'Order Count'}, inplace=True)
df_12

          Total Contribution  Order Count
Date
January           1075133.68         3189
February          1214226.18         3398
March             1435436.10         4182
April             1403397.78         3928

----

### 5) Average Order Value

In [13]:
# To calculate your company's average order value, simply divide total revenue by the number of orders.
AOV = df['Amount'].sum()/df.shape[0]
print('Average Order Value =', str(round(AOV, 2)))

Average Order Value = 348.93

### 8) Last Order Value

In [14]:
# last registered date
df['Date'].max()

Timestamp('2021-04-30 00:00:00')

In [15]:
# selecting rows based on condition. .. Some issue with timestamps
df4=df[df['Date'] == df['Date'].max()]
df4.tail(3)

,Internal ID,*,Date,Document Number,Company Name,Contact Name,Account,Item,Memo,Amount,Sales Rep,Class,Location,Customer Type by Industry
14694,813165,,2021-04-30,DAPR210026,Honigman LLP (Detroit),Ronald Barringer,40100 Sales-Legal Paper,Oversize Legal Printing & Copying : Oversize B...,Oversize B&W Copy/Print Per Sq. Ft.,240.0,Matt Weber,Paper,Detroit,Legal
14695,813165,,2021-04-30,DAPR210026,Honigman LLP (Detroit),Ronald Barringer,40100 Sales-Legal Paper,Scan : Hand Time / Tech Time (Legal Paper),Delivery,50.0,Matt Weber,Paper,Detroit,Legal
14696,814255,,2021-04-30,LBAPR210075,Northeastern University - Office of General Co...,Scott Merrill,40200 Sales-E-Discovery,eDiscovery Parent : eDiscovery - Hosting - Rel...,Relativity Users,340.0,Scott Rothschild,EDiscovery/Forensics,Buffalo,Education

In [16]:
print('We have', df4.shape[0], 'orders in the last date')
print('Last registered order value is', df4.iloc[-1]['Amount'])
print("All last day orders total value is {:.2f}".format(df4['Amount'].sum()))

We have 1473 orders in the last date
Last registered order value is 340.0
All last day orders total value is 1055369.86

### 12) Time since last order in days

In [17]:
daysoff=df['Date'].max()-pd.Timestamp.now()
print(abs(daysoff.days), 'days from last order')

40 days from last order

----

### 9) % of Customers that has more value

### 10) % of Orders generated by client

### 11) % of Revenue generated by client

In [18]:
# Let's create separate dataframe with summarized data
df_clients = df.groupby(['Company Name','Customer Type by Industry'])['Amount'].agg(['count','sum']).sort_values(by='sum', ascending=False)
df_clients.rename(columns={'sum':'Total Value', 'count':'Order Count'}, inplace=True)
df_clients['% of Revenue']=df_clients['Total Value']*100/df_clients['Total Value'].sum()
df_clients['% of Orders']=df_clients['Order Count']*100/df_clients['Order Count'].sum()
df_clients

,,Order Count,Total Value,% of Revenue,% of Orders
Company Name,Customer Type by Industry,,,,
"Verisma Systems, Inc",Healthcare,36,403071.69,7.859915,0.244948
McDonald Hopkins (Cleveland),Legal,52,240664.87,4.692975,0.353814
InfoCision,Marketing/Design Agency,8,231890.24,4.521870,0.054433
Elk & Elk,Legal,66,143123.62,2.790917,0.449071
Bonezzi Switzer Polito & Hupp[CLE],Legal,45,130207.00,2.539042,0.306185
...,...,...,...,...,...
Rustbelt,AEC,1,4.20,0.000082,0.006804
NWS Janitorial Services,Retail,1,4.20,0.000082,0.006804
American Steamship Company (ASC),Other,1,2.80,0.000055,0.006804
Kaz Brothers,AEC,1,2.10,0.000041,0.006804
Town Of Paris,Government,1,0.00,0.000000,0.006804

In [19]:
# If assume what by the "Customers that has more value" we mean customers with bigger "Avg Order Value"
df_clients['Avg order value']=df_clients['Total Value']/df_clients['Order Count']
# from next dataframe we can select group of clients by any special conditions: Top10 by total value, by AOV etc
df_clients.sort_values(by='Avg order value', ascending=False)

,,Order Count,Total Value,% of Revenue,% of Orders,Avg order value
Company Name,Customer Type by Industry,,,,,
InfoCision,Marketing/Design Agency,8,231890.24,4.521870,0.054433,28986.280
"Epstein Becker & Green, P.C.",Legal,1,23925.00,0.466539,0.006804,23925.000
The Kirtland Country Club,Other,1,20062.50,0.391220,0.006804,20062.500
Great Lakes Medical,Healthcare,1,17000.00,0.331501,0.006804,17000.000
Opta (USA) Inc.,Manufacturing,3,33900.00,0.661051,0.020412,11300.000
...,...,...,...,...,...,...
NWS Janitorial Services,Retail,1,4.20,0.000082,0.006804,4.200
McGuire Development Company,AEC,2,7.95,0.000155,0.013608,3.975
American Steamship Company (ASC),Other,1,2.80,0.000055,0.006804,2.800
Kaz Brothers,AEC,1,2.10,0.000041,0.006804,2.100
Town Of Paris,Government,1,0.00,0.000000,0.006804,0.000

In [20]:
# Export dataframe for furthermore use
df_clients.to_excel(r'ClientAgregate.xlsx')